.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.member {
  display: flex;
  flex-direction: column;
  width: 20vw;
  background-color: #adb5bd;
  padding: 10px;
  margin: 20px;
  border: 2px solid antiquewhite;
  text-align: center;
}

h1 {
  text-align: center;
  color: antiquewhite;
  text-decoration: underline;
}

.button {
  background-color: #adb5bd;
  text-align: center;
  border-radius: 20px;
  border: 1px solid antiquewhite;   
  
}

