{% extends "base.html" %}
{% block content %}
<br>
    <section class="edit-class">
        <form action="/fittness classes/{{ fittnes_class.id }}" method="post">
            <div>
                <label for="name">Class Name:</label>
                <input type="text" id="name" name="name" value="{{fittnes_class.name}}" required>
            </div><br>

            <div>
                <label for="fittnes_level">Fittnes Level:</label>
                <select name="fittnes_level" id="fittnes_level">
                    <option value="entry">Entry</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
            </div><br>
            <div><br>
                <label for="duration">Duration:</label>
                <input type="text" id="duration" name="duration" value="{{fittnes_class.duration}}" required autofocus>
            </div><br>
            <button type="submit">Update Fittnes Class</button>
        </form>
    </section>


{% endblock %}