{% extends 'base.html' %}

{% block content %}
<h1>Fittnes Classes</h1>
<p class="btn--wrapper">
    <a class="btn btn--action" href="/fittnes_class/new">New Member</a>
</p>
<ul>
    {% for fittnes_class in fittnes_classes %}
    <ul>
    <p>{{ fittnes_class.name }} </p>
    <p>{{ fittnes_class.fittnes_level }}</p>
    <p>{{ fittnes_class.duration }}</p>
      <p>
        <form action="/fittnes_classes/{{ fittnes_class.id }}/delete" method="POST">
          <input class="btn btn--danger" type="submit" value="delete" />
        </form>
        <form action="/fittnes_classes/{{ fittnes_class.id }}/edit" method="POST">
            <input class="btn btn--danger" type="submit" value="edit" />
          </form>
      </p>
    </ul>
    {% endfor %}
  </ul>
  
<
<br>  
<a href="/"><button> Home </button></a>
{% endblock %}