{% extends 'base.html' %}

{% block content %}
<h1>Fittnes Classes</h1>

<table>
    <tr>
        <th>Name:</th>
        <th>Duration:</th>
        <th></th>
    </tr>
    {% for fittnes_class in fittnes_classes %}
    <tr>
        <td><a href="/fittness classes/{{ fittnes_class.id }}"> {{fittnes_class.name}} </a></td>
        <td>{{fittnes_class.duration }}</td>
        <td><form action="/fittness classes/{{ fittnes_class.id }}/delete" method="POST">
            <input class="btn btn--danger" type="submit" value="delete" />
        </form></td>
    </tr>
    {% endfor %}
</table>
<p class="btn--wrapper">
    <a class="btn btn--action" href="/fittness classes/new">New Fittness Class</a></p>
    <br>
<a href="/"><button> Home </button></a>
{% endblock %}