{% extends "base.html" %}
{% block content %}
<br>
<section class="new-class">
        <form action="/fittness classes" method="post">
                <div>
                    <label for="name">Fittnes Class:</label>
                    <input type="text" id="name" name="name" placeholder="Fittness Class" required>
                </div><br>

                <div>
                <label for="fittnes_level">Choose a fittnes level:</label>
                <select name="fittnes_level" id="fittnes_level">
                    <option value="entry">Entry</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
                <div><br>
                    <label for="duration">Duration:</label>
                    <input type="text" id="duration" name="duration" placeholder="Duration" required>
                </div>
                <br>
                <button class="button" type="submit">Add Fittnes Class</button>
        </form><br>
    <p><a href="/fittness classes"><button class="button"> Go Back </button></a>
    </p>
</section>

{% endblock %}
