{% extends 'base.html' %}

{% block content %}
<h1>The Gym</h1>
<p class="btn--wrapper">
  <a href="/gyms/new"><button class="button">Create New Gym </button></a> &ensp;
  <a href="/"><button class="button"> Home </button></a>
</p>

<ul class="flex-container">
  {% for gym in gyms %}
  <li class="gym">
    <p>{{ gym.member.full_name() }} </p>
    <p>{{ gym.fittnes_class.name }}</p>
      <p>
        <form action="/gyms/{{ gym.id }}/delete" method="POST">
          <input class="button" type="submit" value="delete" />
        </form>
      </p>
  </li>
  {% endfor %}
</ul>


{% endblock %}